
  <h1>1d20</h1>
<!--
<% if @first_dice == 1%>
  <p style="color: red"> <%= @outcome %> </p> 
<% elsif @first_dice == 20%>
  <p style="color: green"> <%= @outcome %> </p> 
<% else %>
  <%= @outcome %>
<% end %>
 -->
   
   <ul>
    <% @roll.each do |each_roll| %>
      <li>
      <%= each_roll %>
      </li>
    <% end %>
   </ul>
 
  
